<!-- Changes here will effect sidebar on all pages -->
 <h3>Special Offers</h3>
    <ul>
        <li>Book 4 cleanings, Get 1 free</li>
        <li>Refer a Friend, Both get $20 Off</li>
    </ul>

 <h3>Discounts</h3>
    <ul>
        <li>First cleaning 20% off</li>
        <li>Monthly Deep Clean Bundle - Save 15%</li>
        <li>Senior and Military Discount - 10% Off</li>
    </ul>

 <h3>Announcements</h3>
    <ul>
        <li>New 48-Hour Satisfaction Guarantee</li>
        <li>Introducing Our New Pet-Friendly Cleaning Products</li>
        <li>Contactless and Eco-Friendly Cleaning Available</li>
    </ul>