<nav>
    <a href="https://webpages.charlotte.edu/jcedill1/">charlotte.edu</a>
    ||
    <a href="https://github.com/JimmyCedil/jimmycedil.GitHub.io">githib</a>
    ||
    <a href="https://www.freecodecamp.org/jcedill">FreeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/jcedill">CodeAcademy</a>
    ||
    <a href="https://www.linkedin.com/in/jimmycedillo/">linkedin</a>
</nav>

<p>Page Designed by <a href="../jimmycedil.co/">Jimmycedill Design Firm</a> &copy; 2025</p>
<p>
    <a href="https://validator.w3.org/check?uri=referer" target="_blank">HTML Validation</a> || 
    <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank">CSS Validation</a>
</p>